<div id="edit-category-modal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Category</h5>
                <button type="button" class="btn-close" onclick="hideModalForm()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="edit-category-name" value="{{name}}">
                    <label for="edit-category-name">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="edit-category-description" value="{{description}}">
                    <label for="edit-category-description">Description</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="hideModalForm()">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="categoryService.updateCategory({{categoryId}})">Update</button>
            </div>
        </div>
    </div>
</div>