<div class="filter-box">
    <div class="form-floating mb-3">
        <input class="form-control" type="search" placeholder="Search" id="search-input" />
        <label for="search-input">Search by name</label>
    </div>

    <div class="form-floating mb-3">
        <select id="category-select" class="form-select" onchange="setCategory(this)">
            <option value="0">Show All</option>
        </select>
        <label for="category-select">Category</label>
    </div>

    <div>
        <label for="min-price" class="form-label">Minimum Price: $ <span id="min-price-display">0</span></label>
        <input type="range" class="form-range" id="min-price" min="0" max="1500" value="0" onchange="setMinPrice(this)">
    </div>
    <div>
        <label for="max-price" class="form-label">Maximum Price: $ <span id="max-price-display">1500</span></label>
        <input type="range" class="form-range" id="max-price" min="0" max="1500" value="1500" onchange="setMaxPrice(this)">
    </div>

    <div class="form-floating mb-3">
        <select id="color-select" class="form-select" onchange="setColor(this)">
            <option value="">Show All</option>
        </select>
        <label for="color-select">Color</label>
    </div>
    <div class="text-end">
        <button class="btn btn-secondary me-2" onclick="clearFilters()">Clear</button>
        <button class="btn btn-primary" onclick="applyFilters(event)">Filter</button>
    </div>
</div>
