{{#loggedin}}
<div id="links">
    <img src="/images/logo.png" alt="eashshop logo">
    <a href="#" onclick="loadHome()">Home</a>
    <a href="#" onclick="editProfile()">Profile</a>
    <a href="#" data-bs-toggle="offcanvas" data-bs-target="#cartSidebar" onclick="showCart()">Cart</a>
    <form class="d-flex" role="search" onsubmit="searchProducts(event)">
        <input class="form-control me-2" type="search" placeholder="Search..." id="search-input">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>

<div>
    Welcome&nbsp;<span style="font-weight: bold">{{username}}</span>&nbsp;|&nbsp;<a href="#"
                                                                                    onclick="userService.logout();return false;">logout</a>
    <div class="cart" data-bs-toggle="offcanvas" data-bs-target="#cartSidebar" onclick="showCart()">
        <i class="fa-solid fa-cart-shopping"></i>
        <div id="cart-items">0</div>
    </div>
</div>
{{/loggedin}}
{{#loggedout}}
<div id="links">
    <img src="/images/logo.png" alt="eashshop logo">
    <a href="#" onclick="loadHome()">Home</a>
    <form class="d-flex" role="search" onsubmit="searchProducts(event)">
        <input class="form-control me-2" type="search" placeholder="Search..." id="search-input">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>

<div>
    <a href="#" onclick="showLoginForm();return false;">login</a> |
    <a href="#" onclick="showRegisterForm();return false;">register</a>
</div>
{{/loggedout}}