<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" onclick="loadHome()">
            <img src="/images/logo.png" alt="logo" width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" onclick="loadHome()">Home</a>
                </li>
                {{#loggedin}}
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#profileSidebar" onclick="editProfile()">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#cartSidebar" onclick="showCart()">Cart</a>
                </li>
                {{/loggedin}}
                {{#loggedout}}
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showLoginForm();return false;">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showRegisterForm();return false;">Register</a>
                </li>
                {{/loggedout}}
            </ul>
            <form class="d-flex me-3" role="search" onsubmit="searchProducts(event)">
                <input class="form-control me-2" type="search" placeholder="Search" id="search-input"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {{#loggedin}}
            <span class="navbar-text me-2">Welcome <strong>{{username}}</strong></span>
            <a class="nav-link" href="#" onclick="userService.logout();return false;">Logout</a>
            <div class="cart ms-2" data-bs-toggle="offcanvas" data-bs-target="#cartSidebar" onclick="showCart()">
                <i class="fa-solid fa-cart-shopping"></i>
                <div id="cart-items">0</div>
            </div>
            {{/loggedin}}
        </div>
    </div>
</nav>