<div class="offcanvas offcanvas-end" tabindex="-1" id="loginCanvas" aria-labelledby="loginCanvasLabel">
    <div class="offcanvas-header">
        <h5 id="loginCanvasLabel" class="offcanvas-title">Login</h5>
        <button type="button" class="btn-close text-reset" onclick="hideLoginCanvas()" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" placeholder="username">
            <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="password">
            <label for="password">Password</label>
        </div>
        <div class="d-flex justify-content-end gap-2">
            <button type="button" class="btn btn-secondary" onclick="hideLoginCanvas()">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="login()">Login</button>
        </div>
        <hr/>
        <div class="mt-2">
            <span>No account? <a href="#" onclick="showRegisterCanvas();return false;">Create one</a></span>
        </div>
    </div>
</div>