<div class="card profile-card">
    <img src="{{photoUrl}}" class="card-img-top" alt="Profile Photo" onerror="this.src='/images/products/no-image.jpg'">
    <div class="card-body">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="photoUrl" value="{{photoUrl}}" disabled>
            <label for="photoUrl">Photo URL</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="profileUrl" value="{{profileUrl}}" disabled>
            <label for="profileUrl">Profile URL</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="firstName" value='{{firstName}}' disabled>
            <label for="firstName">First Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="lastName" value='{{lastName}}' disabled>
            <label for="lastName">Last Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="phone" value='{{phone}}' disabled>
            <label for="phone">Phone</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="email" value='{{email}}' disabled>
            <label for="email">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="address" value='{{address}}' disabled>
            <label for="address">Address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="city" value='{{city}}' disabled>
            <label for="city">City</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="state" value='{{state}}' disabled>
            <label for="state">State</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="zip" value='{{zip}}' disabled>
            <label for="zip">Zip</label>
        </div>
        <div class="text-end">
            <button id="edit-profile" class="btn btn-primary" onclick="enableProfileEdit()">Edit</button>
            <button id="cancel-edit-profile" class="btn btn-secondary hidden" onclick="cancelProfileEdit()">Cancel</button>
            <button id="save-profile" class="btn btn-primary hidden" onclick="saveProfile()">Save</button>
        </div>
    </div>
</div>