<div id="register-form" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Register</h5>
                <button type="button" class="btn-close" onclick="hideModalForm()" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="reg-username" placeholder="username">
                    <label for="reg-username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="reg-password" placeholder="password">
                    <label for="reg-password">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="reg-confirm" placeholder="confirm">
                    <label for="reg-confirm">Confirm Password</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="hideModalForm()">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="register()">Register</button>
            </div>
        </div>
    </div>
</div>