<div class="offcanvas offcanvas-end" tabindex="-1" id="registerCanvas" aria-labelledby="registerCanvasLabel">
    <div class="offcanvas-header">
        <h5 id="registerCanvasLabel" class="offcanvas-title">Create Account</h5>
        <button type="button" class="btn-close text-reset" onclick="hideRegisterCanvas()" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="register-username" placeholder="username">
            <label for="register-username">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="register-password" placeholder="password">
            <label for="register-password">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="register-confirm" placeholder="confirm">
            <label for="register-confirm">Confirm Password</label>
        </div>
        <div class="d-flex justify-content-end gap-2">
            <button type="button" class="btn btn-secondary" onclick="showLoginCanvas();return false;">Back</button>
            <button type="button" class="btn btn-primary" onclick="registerUser()">Create Account</button>
        </div>
    </div>
</div>